body {
    font-family: "Roboto", sans-serif;
}

header, main, footer {
    display: grid;
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid gray;
    padding: auto;
    background-color: lightblue;
}

section {
    padding: 1rem;
    background-color: white;
}